#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.loading {
  display: inline-block;
  color:greenyellow;
  background-color: greenyellow;
  border-radius: 50%;
  width: 25px; height: 25px;
  margin-left: 10px;
}

.rotate {
  animation-duration: 1500ms;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

.rotate-end {
  color: black;
  font-weight: 700;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
    background-color: greenyellow;
    color: greenyellow;
  }

  50% {
    background-color: red;
    color: red;
  }

  to{
    transform: rotateY(360deg);
    background-color: greenyellow;
    color: greenyellow;
  }
}
